
<div id="dashboard">
  <header class="dashboard__header">
    <h1>My Dashboard</h1>
        <div>
        <!-- <mat-form-field color="accent">
          <input matInput 
            [matDatepicker]="picker" 
            placeholder="Choose a date"
            color="#FFF"
            (click)="picker.open()"
            >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field> -->
    </div>
  </header>

  <section class="dash-row">
    <mat-card style="display: flex; flex-direction: column;">
      <mat-card-title>
        Welcome Karen
      </mat-card-title>
      <mat-card-subtitle>We've created your daily analytics report</mat-card-subtitle>
      <mat-card-content style="display: flex; justify-content: center; align-items: center; flex: 1;">	
        <img mat-card-image style="height: 170px" src="https://gistcdn.githack.com/mike-schultz/10a1a059f77cc33a350d85a0870397e2/raw/d11f4b4804d9a49faec957a1d51c3d4e5174477c/data_xmfy.svg"/>
      </mat-card-content>
      <mat-card-footer>

        <button mat-button mat-raised-button color="primary">Contact Support</button>
      </mat-card-footer>
      </mat-card>
    <mat-card id="card-0-1" style="color: white">
      <mat-card-title >
        Traffic
      </mat-card-title>
      <mat-card-subtitle style="color: white">www.yourwebsite.com</mat-card-subtitle>
      <zingchart-angular #subscribers [config]="websiteTraffic" [height]="'250px'"></zingchart-angular>

    </mat-card>
    <mat-card id="card-0-2">
      <mat-card-title >
        Budget
      </mat-card-title>
      <mat-card-subtitle>Percentage of annual spend</mat-card-subtitle>
      <zingchart-angular [config]="allocatedBudget" [height]="'250px'"></zingchart-angular>

    </mat-card>
  </section>
    <section class="dash-row">
    <mat-card style="flex: 2">
      <mat-card-title style="margin-bottom: 1rem">
       Customers
      </mat-card-title>

       <zing-grid 
          pager
          page-size="3"
          page-size-options="2,3,6"
          viewport-stop
          [data]='customers'>
        </zing-grid>
    </mat-card>
    <mat-card id="card-1-1">
      <mat-card-title style="color: white">
        Interactions
      </mat-card-title>
      <mat-card-subtitle style="color: white">Your customer's interactions</mat-card-subtitle>

      <zingchart-angular [config]="customerInteractions" [height]="'220px'"></zingchart-angular>
    </mat-card>
  </section>
    <section class="dash-row">
    <mat-card>
      <mat-card-title>
        Downloads
      </mat-card-title>
      <mat-card-subtitle >Bandwidth of consumed content</mat-card-subtitle>
      <mat-card-content>
        <zingchart-angular [config]="mediaConsumption" [height]="'250px'"></zingchart-angular>
      </mat-card-content>
    </mat-card>
      <mat-card>
      <mat-card-title>
        Social Media
      </mat-card-title>
      <mat-card-subtitle>Engagement by Platform</mat-card-subtitle>
      <mat-card-content>
        <zingchart-angular [config]="enagementPlatforms" [height]="'250px'"></zingchart-angular>
      </mat-card-content>
    </mat-card>  </section>
  

</div>

